
.sbInp_BarInsetRed {
    
}

.sbInp_BarInsetRed .sbBarStart {
    background: transparent url(bgBarStart.png) no-repeat scroll left center;
    float: left;
}

.sbInp_BarInsetRed .sbBarEnd {
    background: transparent url(bgBarEnd.png) no-repeat scroll right center;
}

.sbInp_BarInsetRed .sbBarInner {
    background: transparent url(bgBarInner.png) repeat-x scroll left center;
    height: 47px;
    margin: 4px 10px;
}


.sbInp_BarInsetRed .sbInputStart {
    background: transparent url(bgInputStart.png) no-repeat scroll left center;
    float: left;
    margin: 9px 0 0 4px;
}

.sbInp_BarInsetRed .sbInputEnd {
    background: transparent url(bgInputEnd.png) no-repeat scroll right center;
}

.sbInp_BarInsetRed .sbInputInner {
    background: transparent url(bgInputInner.png) repeat-x scroll left center;
    height: 27px;
    margin: 0px 8px 0 28px;
}


.sbInp_BarInsetRed .searchBox {
    width: 200px;
    padding: 6px 0 2px 0;
    border-width: 0px;
    background-color: transparent;
    color: #212121;
    letter-spacing: 1px;
}

.sbInp_BarInsetRed .searchBoxEmpty {
    color: #727272;
    font-style: italic;
}

.sbInp_BarInsetRed .searchBtn {
    background: transparent url(btnSearch.png) no-repeat scroll center center;
    display: block;
    width: 31px;
    height: 31px;
    float: left;
    margin: 8px 0 0 8px;
}

.sbInp_BarInsetRed .searchManageBtn {
    background: transparent url(icon_hostsettings_16px.gif) no-repeat scroll 3px center;
    padding: 3px 2px 2px 24px;    
    color: #424242;
}

.sbInp_BarInsetRed .portalFilter {
    width: 190px;
    margin: 4px 0 0 0;
}

